workflow4_withdraw.json
{
  "name": "WF4 - Withdraw Logic (7 Days No Accept)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "node-trigger-wf4",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "getRows",
        "documentId": { "value": "YOUR_SHEET_ID" },
        "sheetName": { "value": "Database" },
        "options": {}
      },
      "id": "node-get-db-wf4",
      "name": "Get Database",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 300],
      "credentials": { "googleSheetsOAuth2Api": { "name": "YOUR_GOOGLE_CRED_NAME" } }
    },
    {
      "parameters": {
        "jsCode": "// For DEMO: 10 minutes instead of 7 days\n// For production change DEMO_DELAY_MINUTES to: 7 * 24 * 60 = 10080\nconst DEMO_DELAY_MINUTES = 10;\nconst now = new Date();\nconst rows = $input.all();\n\nconst toWithdraw = rows.filter(row => {\n  const r = row.json;\n  if (r.connection_request_status !== 'Sent') return false;\n  if (r.connection_accepted === 'Accepted') return false;\n  const sentTime = new Date(r.connection_request_time);\n  const diffMins = (now - sentTime) / 1000 / 60;\n  return diffMins >= DEMO_DELAY_MINUTES;\n});\n\nreturn toWithdraw;"
      },
      "id": "node-filter-withdraw",
      "name": "Filter Expired Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://YOUR_DSN/api/v1/linkedin/invite",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-KEY", "value": "YOUR_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "account_id", "value": "YOUR_ACCOUNT_ID" },
            { "name": "linkedin_url", "value": "={{ $json.linkedin_url }}" }
          ]
        },
        "options": {}
      },
      "id": "node-withdraw",
      "name": "Withdraw Connection Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "value": "YOUR_SHEET_ID" },
        "sheetName": { "value": "Database" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin_url": "={{ $json.linkedin_url }}",
            "connection_request_status": "Withdrawn",
            "connection_accepted": "Never Accepted",
            "campaign_status": "Dead"
          }
        },
        "options": {}
      },
      "id": "node-update-withdrawn",
      "name": "Update DB - Withdrawn",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 300],
      "credentials": { "googleSheetsOAuth2Api": { "name": "YOUR_GOOGLE_CRED_NAME" } }
    }
  ],
  "connections": {
    "Every 5 Minutes": { "main": [[{ "node": "Get Database", "type": "main", "index": 0 }]] },
    "Get Database": { "main": [[{ "node": "Filter Expired Requests", "type": "main", "index": 0 }]] },
    "Filter Expired Requests": { "main": [[{ "node": "Withdraw Connection Request", "type": "main", "index": 0 }]] },
    "Withdraw Connection Request": { "main": [[{ "node": "Update DB - Withdrawn", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
