workflow2_check_connection.json
{
  "name": "WF2 - Check Connection Accepted & Send Message 1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "node-trigger-wf2",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "getRows",
        "documentId": { "value": "YOUR_SHEET_ID" },
        "sheetName": { "value": "Database" },
        "options": {}
      },
      "id": "node-get-db-wf2",
      "name": "Get Database",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 300],
      "credentials": { "googleSheetsOAuth2Api": { "name": "YOUR_GOOGLE_CRED_NAME" } }
    },
    {
      "parameters": {
        "jsCode": "// Filter rows where connection was sent but message_1 not yet sent\nconst rows = $input.all();\nreturn rows.filter(row => \n  row.json.connection_request_status === 'Sent' && \n  row.json.message_1_status === 'Not Yet'\n);"
      },
      "id": "node-filter-pending",
      "name": "Filter Pending Connections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://YOUR_DSN/api/v1/linkedin/relations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-KEY", "value": "YOUR_API_KEY" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "account_id", "value": "YOUR_ACCOUNT_ID" },
            { "name": "linkedin_url", "value": "={{ $json.linkedin_url }}" }
          ]
        },
        "options": {}
      },
      "id": "node-check-connection",
      "name": "Check Connection Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "CONNECTED",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "node-if-accepted",
      "name": "Is Connection Accepted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "operation": "getRows",
        "documentId": { "value": "YOUR_SHEET_ID" },
        "sheetName": { "value": "Campaigns" },
        "options": {}
      },
      "id": "node-get-campaign-msg",
      "name": "Get Campaign Messages",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1100, 200],
      "credentials": { "googleSheetsOAuth2Api": { "name": "YOUR_GOOGLE_CRED_NAME" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_DSN/api/v1/linkedin/message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-KEY", "value": "YOUR_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "account_id", "value": "YOUR_ACCOUNT_ID" },
            { "name": "linkedin_url", "value": "={{ $('Filter Pending Connections').item.json.linkedin_url }}" },
            { "name": "text", "value": "={{ $('Get Campaign Messages').first().json.message_1 }}" }
          ]
        },
        "options": {}
      },
      "id": "node-send-msg1",
      "name": "Send Message 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "value": "YOUR_SHEET_ID" },
        "sheetName": { "value": "Database" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin_url": "={{ $('Filter Pending Connections').item.json.linkedin_url }}",
            "connection_accepted": "Accepted",
            "connection_accepted_time": "={{ new Date().toISOString() }}",
            "message_1_status": "Sent",
            "message_1_sent_time": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "node-update-db-wf2",
      "name": "Update Database - Msg1 Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1540, 200],
      "credentials": { "googleSheetsOAuth2Api": { "name": "YOUR_GOOGLE_CRED_NAME" } }
    }
  ],
  "connections": {
    "Every 5 Minutes": { "main": [[{ "node": "Get Database", "type": "main", "index": 0 }]] },
    "Get Database": { "main": [[{ "node": "Filter Pending Connections", "type": "main", "index": 0 }]] },
    "Filter Pending Connections": { "main": [[{ "node": "Check Connection Status", "type": "main", "index": 0 }]] },
    "Check Connection Status": { "main": [[{ "node": "Is Connection Accepted?", "type": "main", "index": 0 }]] },
    "Is Connection Accepted?": {
      "main": [
        [{ "node": "Get Campaign Messages", "type": "main", "index": 0 }],
        []
      ]
    },
    "Get Campaign Messages": { "main": [[{ "node": "Send Message 1", "type": "main", "index": 0 }]] },
    "Send Message 1": { "main": [[{ "node": "Update Database - Msg1 Sent", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
